setuptools==75.6.0
fastapi==0.115.6
uvicorn==0.32.1
sqlalchemy==2.0.36
numpy==2.2.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
Authlib===1.3.2
python-jose===3.3.0
requests===2.32.3
python-json-logger==2.0.7
PyGithub==2.5.0
cachetools==5.5.0
markupsafe==3.0.2
boto3==1.35.78
vertexai==1.71.1
google-auth==2.36.0
flake8==7.1.1

