# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.venv
.venv/*

*.egg-info
*.egg-info/*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Python cache
__pycache__
__pycache__/*
.pytest_cache/*

__blobstorage__
 __blobstorage__/*
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
 *.zip

__azurite_db_table__.json

ptvsd
ptvsd-4.3.2.dist-info
cdk.out